In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,35.22,75,20,4.61,AR,2021-07-21 18:36:17
1,1,Albany,42.6001,-73.9662,78.46,66,54,3.00,US,2021-07-21 18:35:24
2,2,Homer,59.6425,-151.5483,55.04,94,90,5.75,US,2021-07-21 18:36:17
3,3,Punta Arenas,-53.1500,-70.9167,41.11,81,75,19.57,CL,2021-07-21 18:31:18
4,4,Rikitea,-23.1203,-134.9692,73.09,59,75,19.80,PF,2021-07-21 18:35:10

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:


# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,12,Athens,37.9795,23.7162,87.17,69,20,1.01,GR,2021-07-21 18:35:25
19,19,Bonfim,3.0833,-59.9500,87.13,60,51,7.09,BR,2021-07-21 18:36:23
23,23,Laguna,38.4210,-121.4238,98.24,50,1,6.91,US,2021-07-21 18:36:24
35,35,Oriximina,-1.7656,-55.8661,90.61,47,37,6.13,BR,2021-07-21 18:36:28
43,43,Qeshm,26.9581,56.2719,93.09,72,0,13.49,IR,2021-07-21 18:36:31
47,47,Kashan,33.9831,51.4364,94.37,13,4,10.78,IR,2021-07-21 18:36:32
56,56,Aklavik,68.2191,-135.0107,85.84,27,64,3.18,CA,2021-07-21 18:36:36
92,92,San Patricio,28.0170,-97.5169,92.07,45,3,5.95,US,2021-07-21 18:36:50
97,97,Nizwa,22.9333,57.5333,91.65,48,31,3.76,OM,2021-07-21 18:36:51
98,98,Fallon,39.4735,-118.7774,90.43,15,75,5.75,US,2021-07-21 18:36:52

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [15]:
preferred_cities_df.notnull().sum()

City_ID       70
City          70
Lat           70
Lng           70
Max Temp      70
Humidity      70
Cloudiness    70
Wind Speed    70
Country       70
Date          70
dtype: int64

In [16]:
preferred_cities_df.count()

City_ID       70
City          70
Lat           70
Lng           70
Max Temp      70
Humidity      70
Cloudiness    70
Wind Speed    70
Country       70
Date          70
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
12        Athens      GR     87.17  37.9795   23.7162
19        Bonfim      BR     87.13   3.0833  -59.9500
23        Laguna      US     98.24  38.4210 -121.4238
35     Oriximina      BR     90.61  -1.7656  -55.8661
43         Qeshm      IR     93.09  26.9581   56.2719
47        Kashan      IR     94.37  33.9831   51.4364
56       Aklavik      CA     85.84  68.2191 -135.0107
92  San Patricio      US     92.07  28.0170  -97.5169
97         Nizwa      OM     91.65  22.9333   57.5333
98        Fallon      US     90.43  39.4735 -118.7774

In [18]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" + gkey

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [20]:
# Filter the dataset to find the cities that fit the criteria.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

In [21]:
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
12     Athens      GR     87.17  37.9795   23.7162
19     Bonfim      BR     87.13   3.0833  -59.9500
23     Laguna      US     98.24  38.4210 -121.4238
35  Oriximina      BR     90.61  -1.7656  -55.8661
43      Qeshm      IR     93.09  26.9581   56.2719